node_modules
npm-debug.log
yarn-error.log
.DS_Store
.env
.git
.gitignore
.dockerignore
.dockerignore.example
.vscode
*.md
*.markdown
LICENSE
LICENSE.txt
*.log
*.gz
*.tgz
*.zip
*.rar
*.tar
*.tar.gz
*.bak
*.sql
*.sqlite
*.db
*.pem
*.key
*.cert